{% let page_title = 'Eban Software' %}
{% let page_description = 'Eban Software' %}
{% include view_path("common") %}

{% extends view_path("default_body") %}




{%  block body_content %}
    <div class="span10 band one">
        <i class="icon-head"></i><h1 class="space-above">Quando innovare conta</h1>
        <p>Eban Software nasce nel 2005 da una lunga esperienza nel settore della progettazione e realizzazione
            di software gestionali realizzati su misura per il cliente.Ci occupiamo di tutte le esigenze
            inerenti l'informatica della vostra azienda, dalla realizzazione di software su misura alla
            fornitura di hardware .</p>

    </div>
    <div class="span10 band two">
        <i class="icon-head"></i><h1>Siti web</h1>
        <p>Realizziamo il vostro sito web e nel caso non disponiate già di un vostro web provider, possiamo
            ospitare le pagine sui nostri server.</p>
        <p>I siti da noi realizzati hanno un aspetto grafico pulito, intrigante ed in linea con i tempi.
           Date un'occhiata al nostro portfolio per farvi un'idea di cosa possiamo realizzare per voi.
        <p>Sia  che non disponiate di alcuna visibilità sul Web, sia che abbiate  già un  sito, ma lo riteniate
            datato o poco professionale, contattateci  per un  preventivo gratuito.
        </p>
        <p>Uno dei nostri punti di forza è che uniamo capacità di design e di programmazione: il vostro sito
        potrà essere integrato con gli applicativi che   utilizzate in azienda, in modo da poter personalizzare
        con efficienza e   semplicità le pagine con le vostre offerte, le novità ecc.
        </p>
        <p>Se invece il vostro sito attuale vi soddisfa appieno, ma non così il   vostro provider, possiamo
        anche ospitare sui nostri server le vostre   pagine, occupandoci di tutte le pratiche burocratiche per
        la   registrazione del dominio o il cambio di provider.</p>
    </div>

    <div class="span10 band three">
        <i class="icon-head"></i><h1>Software Personalizzato</h1>

        <p>La mia specializzazione è la realizzazione di software su misura per il cliente. Un software
           creato su misura può darvi tutte le funzionalità che non troverete acquistando un software
           preconfezionato.
        </p>
        <p>I software presenti sul mercato non soddisfano appieno le vostre esigenze? Svolgete un'attività
            particolare e non riuscite a trovare un pacchetto adatto a voi? Possiamo realizzare un software
            su misura per le vostre esigenze.
        </p>
    </div>

    <div class="span10 band four">
        <div class="row">
            <div class="span9 contact">
                <i class="icon-head"></i>
                <h1>Contattatemi</h1>

                <p>Avete un problema nella vostra azienda e non sapete come risolverlo? Vi possiamo aiutare a
                    trovare la soluzione migliore per la vostra realtà.</p>

                <p>Potete contattarmi nei seguenti modi:</p>
            </div>
        </div>
        <div class="row">
            <div class="span3 contact">
                <i class="icon-envelope icon-large icon-social"></i>
                <h2>E-mail</h2>

                <address>
                    <a href="mailto://andrea.parodi@ebansoftware.net">
                        <div class="badge">andrea.parodi@ebansoftware.net</div>
                    </a>
                </address>
            </div>

            <div class="span3 contact">
                <i class="icon-envelope-alt icon-large icon-social"></i>
                <h2>Indirizzo</h2>
                <address>
                    <div class="badge badge-important">
                        Eban Software di Andrea Parodi<br/>
                        Via Casata Centuriona 2/16 Sc.B<br/>
                        16139 Genova<br/>
                    </div>
                </address>

            </div>



            <div class="span3 contact">
                <i class="icon-phone icon-large icon-social"></i>
                <h2>Telefono</h2>

                <address>

                    <div class="badge badge-info">    010-8592238 </div>
                    <div class="badge badge-info">    331-3909980 </div>

                </address>

            </div>
        </div>

        <div class="row centered">
            <div class="span3 contact">
                <i class="icon-twitter icon-large icon-social"></i>
                <h2>Twitter</h2>
                <address>
                    <div class="new-browser">
                        <a href="https://twitter.com/EbanSoftware" class="twitter-follow-button" data-show-count="false" data-lang="it" data-size="large" data-dnt="true">
                            Segui @EbanSoftware
                        </a>
                    </div>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

                    <div class="old-browser badge badge-success">
                        <a href="https://twitter.com/EbanSoftware">
                            Segui @EbanSoftware
                        </a>
                    </div>
                </address>

            </div>

            <div class="span3 contact">
                <i class="icon-mobile-phone icon-large icon-social"></i>
                <h2>Skype</h2>
                <address>
                    <a class="btn"  href="skype:parroit?call">
                        <img src="http://cdn.dev.skype.com/uri/callbutton_32px.png"
                             alt="Skype Me™!">
                    </a>
                </address>
            </div>

            <div class="span3 contact">
                <i class="icon-google-plus icon-large icon-social"></i>
                <h2>Google+</h2>
                <address>
                    <!-- Place this code where you want the badge to render. -->
                    <a class="btn" href="//plus.google.com/109667604126781236999?prsrc=3" rel="publisher" style="text-decoration:none;display:inline-block;color:#333;text-align:center; font:13px/16px arial,sans-serif;white-space:nowrap;">
                        <span style="display:inline-block;font-weight:bold;vertical-align:top;margin-right:5px; margin-top:8px;">Follow</span><span style="display:inline-block;vertical-align:top;margin-right:15px; margin-top:8px;">on</span>
                        <img src="//ssl.gstatic.com/images/icons/gplus-32.png" alt="Google+" style="border:0;width:32px;height:32px;"/>
                    </a>
                </address>

            </div>


        </div>
    </div>




{% endblock %}
