{% let page_title = 'Portfolio Eban Software' %}
{% let page_description = 'Eban Software' %}
{% include view_path("common") %}

{% extends view_path("default_body") %}





{%  block body_content %}


    <div class="span10 band one">
        <i class="icon-head"></i>
        <h1 class="space-above">Editable JqGrid</h1>

        <p>Editable JqGrid is a plugin for <a href="http://www.web2py.com/">web2py</a> that make it easy
                    to use <a href="http://www.trirand.com/blog/">JqGrid</a> in your application.
        </p>
    </div>
    <div class="span10 band two">
        <i class="icon-head"></i>
        <h1 class="space-above">Twidle.do</h1>

        <p>Twidle.do tweet an advice every time you complete one of the tasks of you Toodledo
           account
        </p>

    </div>
    <div class="span10 band three">
        <i class="icon-head"></i>
        <h1 class="space-above">Banner Printer</h1>
        <p>Banner Printer consente di stampare un file pdf un numero prefissato di volte impostando una
           pausa in secondi fra ogni passata</p>
    </div>
    <div class="span10 band four">
        <i class="icon-head"></i>
        <h1 class="space-above">Task Manager</h1>

        <p>Task Manager è un software desktop che consente alle aziende di piccole-medie dimensioni di
           tenere sottto controllo l'avanzamento dei propri progetti.</p>
    </div>






{% endblock %}
